body {
    background: darkgray;
}

li {
    display: flex;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}

li.zero {
    background-color: white;
}

li.one {
    background-color: rgb(220, 220, 220);
}

li span {
    color: rgb(80, 80, 80)
}

li input[type="button"] {
    flex-grow: 1;
}

input[type="checkbox"] {
    animation-duration: 500ms;
}

input[type="checkbox"]:checked {
    display: inline-block;
    transform: rotate(360deg);
    transition: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-duration: 500ms;
}

input#bullet {
    color: red;
    display: inline;
    border-right-width: 1px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-color: rgb(200, 200, 200);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button#submit {
    display: inline;
    margin-left: -5px;
    border-left-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color: rgb(200, 200, 200);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: rgba(200, 200, 200, 0);
}

.timestamp {
    color: red;
    text-align: center;
}

.entry {
    font-style: italic;
}