body {
    background: darkgray;
}

#bulletNav {
    margin-top: -50px;
}

ol#bulletList {
    opacity: 0;
    margin-top: 6px;
}

ol.container li {
    display: flex;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    font-size: 1.25em;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

ol.container>li:nth-child(odd) {
    background-color: white;
}

ol.container>li:nth-child(even) {
    background-color: rgb(220, 220, 220);;
}


ol.container li span {
    color: rgb(80, 80, 80)
}

ol.container li input[type="button"] {
    flex-grow: 1;
}

input[type="checkbox"] {
    animation-duration: 500ms;
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    transform: rotate(360deg);
    transition: ease-in-out;
    transition-duration: 500ms;
}

div#bulletItemDiv {
    opacity: 0;
    margin-left: 18px;
}

/* input#bullet {
    color: red;
    display: inline;
    border-right-width: 1px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-color: rgb(200, 200, 200);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button#submit {
    display: inline;
    margin-left: -5px;
    border-left-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color: rgb(200, 200, 200);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: rgba(200, 200, 200, 0);
} */

.timestamp {
    color: red;
    text-align: center;
}

.entry {
    font-style: italic;
}

.struck {
    text-decoration: line-through;
}

.btn.delete {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 8px;
}

span.entry_text {
    margin-left: 1em;
}