@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&display=swap');

body {
    background: rgb(85, 84, 84);
}

li#favorite {
    color: blue;
}

.one {
    font-size: larger;
}

span.normal {
    font-family: 'Dancing Script', cursive;
    font-size: medium;
}

input.three {
    background-color: grey;
    color: darkgray;
}

:checked {
    font-weight: bold;
}

:invalid {
    border-color: indianred;
    color: indianred;
}

input[type="date"]:hover {
    background-color: green;
    font-size: 30px;
    transition-property: font-size;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

input[type="date"] {
    transition-property: font-size;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

label[for="dater"]:focus {
    font-size: 30px;
}

div > span {
    font-weight: bolder;
}

ol > li {
    font-size: 30px;
}

li ~ li {
    font-size: 25px;
}

ol + div {
    font-style: italic;
}